@font-face { font-family: "HelveticaNeue-Light"; src: url('../font/HelveticaNeue-Light.ttf'); }
@font-face { font-family: "HelveticaNeue-Thin"; src: url('../font/HelveticaNeue-Thin.ttf'); }
@font-face { font-family: "Montserrat-Light"; src: url('../font/Montserrat-Light.otf'); }

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	font-family: "Montserrat-Light" !important;
	color: white;
}

#time, #weather {
	font-family: "Montserrat-Light" !important;
	font-size: 60px;
	font-weight: 100 !important;
	z-index: 1000;
}

#time small, #weather small {
	color:white;
	font-size: 20px;
}

.timeblock {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	display: table;
	width: calc(100% - 200px);
	padding: 100px;
}

.timeinner {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	width: 100%;
}

.background {
	position: fixed;
        width: 0px;
        height: 1px;
	top: -200;
	left: 0;
	right: 0;
	z-index: 0;
}

.wi {
	display: block !important;
}
